@(message :String)
<!DOCTYPE html>
<html lang="ja">
<head>
<title>
    RMS紹介テスト用
</title>
</head>
<body>
<h2>
    RMS（履修管理システム）
    <p><img src="assets/images/rms.png" width="90" heith="45"></p>
</h2>
RMSとは神奈川工科大学情報学部情報工学科が運営するソフトウェア工房のRMSプロジェクトが運営しているサービスです。<br>
紙媒体を必要とせずにインターネット上で履修計画を立てられるシステムで、時間割確認や取得単位数の計算の確認などが楽にできます。<br>
現在WEBサービスだけではなくモバイル上でもサービスを展開しています。<br>
<strong>link:</strong> <a href="http://www.kait.jp/index2.php" target="_blank">神奈川工科大学</a>　<br>
<strong>link:</strong> <a href="https://rms.cs.kanagawa-it.ac.jp/" target="_blank">RMS</a>　<br>
<br>
<hr>
<h3>
    RMS for Android
</h3>
Android版のRMSで、以下のことができます。
<ul type="circle">
    <li>WEBで立てた履修計画の確認
    <li>課題やテストのTODO管理
    <li>シラバスの確認
    <li><dt>Androidのホーム画面で次の授業と教室番号の確認
    <dd>※ウィジェッドの設置が必要
</ul>
<strong>link:</strong> <a href="https://play.google.com/store/apps/details?id=rms.android&hl=ja" target="_blank">RMS for Android</a> <br>
<br>
<hr>
<h3>
    RMS for iOS
</h3>
iOS版のRMSです。現在は時間割情報を確認することができます。　<br>
他機能は開発中です。　<br>
<strong>link:</strong> <a href="https://itunes.apple.com/jp/app/rms/id1088263234" target="_blank">RMS for iOS</a> <br>
<br>
<hr>
<h3>
    活動環境
</h3>
<ul>
    <li>毎週水曜日活動
    <li>工房回線利用可
    <li>キーボード、サブモニター利用可
</ul>
</body>
</html>
<br>
<br>
<br>
<br>
<br>