@(a: String)
<!DOCTYPE html>
<html lang="utf-8">
    <head>
        <title>RMS紹介</title>
    </head>
    <body>
        <p><img src="assets/images/rms.png" width="90" height="30"></p>
        <hr>
        <h2><p><a href ="https://rms.cs.kanagawa-it.ac.jp/">
            RMSとは   
       </a></p></h2>
        <p>RMS（履修管理システム）は、神奈川工科大学情報学部情報工学科が運営する「ソフトウェア工房」のRMSプロジェクトで開発・管理・運営をおこなっているWebサービスです。</p>
        <p>物理的な資料を使わずに1年間のみの計画ではなく将来を見通した長いスパンで履修計画を立てられるようにする事を目的に、2013年に開発をスタートしました。</p>
           <p>RMSのみで履修計画を立てることや、取得単位数の確認が出来る様になるほか、後述するアプリを利用することで次の科目をモバイルから確認することも出来ます。</p>
    <hr>
        <a><h2>始めに</h2></a>
    <p>始めに<a href ="https://rms.cs.kanagawa-it.ac.jp/">ここから</a>RMSに行きこのページに行きます</p>
    <p><img  src ="assets/images/homerms.PNG" width="550" height="300"></p>
    <p>新規の方は,アカウント作成するを押してください。</p>
    <hr>
    <p><h2>マイページ</h2></p>
    <p>アカウントを作成後ログインしてもらいますとマイページに飛べます</p>
    <ul>
        <li>時間割</li>
        <li>科目リスト</li>
        <li>要件</li>
        <li>ツリー</li>
    </ul>
        <p><img  src ="assets/images/mypage.PNG" width="550" height="300"></p>
        <hr>
        <p><h2>時間割</h2></p>
        <p>時間割は自身の学年に合わせた曜日と限ごとに合わせた表を作成できるページ</p>
        <p><h2>科目リスト</h2></p>
        <p>どのような授業があり、単位数、週時間数、前期後期、シラバズなどを確認することができます</p>
        <p><h2>要件</h2></p>
        <p>卒業に必要な単位数、今どのくらい取れているのかを確認することができます</p>
        <p><h2>ツリー</h2></p>
        <p>この分野に進むとどの科目が取れるのかをツリー（木）図で分かりやすく分析することができます</p>
        <hr>
    </body>